body,
html {
    font-family: "Zen Old Mincho";
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --main-color: #503A38;
    --txt: #301F1E;
}


h1 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    /* 43.2px */
    letter-spacing: 1.92px;
    margin: 0;
}

h2 {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    /* 25.2px */
    letter-spacing: 1.12px;
    margin: 0;
}

h3 {
    color: var(--txt);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 180%;
    letter-spacing: 2.88px;
    margin: 0;
}

h4 {
    color: var(--txt);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 240%;
    /* 43.2px */
    letter-spacing: 1.8px;
    margin: 20px 0 0;
}

h5 {
    color: var(--FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 240%;
    letter-spacing: 1.4px;
    margin: 0;
}

h6 {
    color: var(--txt_en_01, #C3BBBA);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 22.4px */
    letter-spacing: 1.4px;
}

h8 {
    color: var(--txt_en_01, #C3BBBA);
    font-family: "Zen Old Mincho";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    /* 22.4px */
    letter-spacing: 1.4px;
}

p {
    color: var(--white_txt, #FFF);
    font-family: "Zen Old Mincho";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    letter-spacing: 0.64px;
}

/********************
    MARK: HEADER
********************/
.header-content {
    padding-bottom: 60px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: black;
    background: linear-gradient(180deg, rgba(67, 47, 45, 0.70) 0%, rgba(80, 58, 56, 0.64) 54.17%, rgba(67, 47, 45, 0.70) 100%);
}

.header-img {
    width: 100%;
    height: auto;
    position: relative;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text img {
    margin-bottom: 20px;
}

.btn_top {
    width: 78px;
    height: 78px;
    border: 1px solid #FFF;
    background: var(--main-color, #503A38);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 60px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.btn_top.show {
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: 1024px) {
    .btn_top {
        width: 140px;
        height: 140px;
        margin-right: 50px;
    }
}

/********************
    MARK: MAIN
********************/
.main {
    margin: 0;
    position: relative;
}

/********************
    MARK: Information
********************/
.s-information::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/common/img/bg-02.jpg') lightgray -0.061px 0px / 100.019% 111.491% no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    z-index: -1;
}

.s-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infor-left {
    width: 420px;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 160px 115px 0 0;
}

.infor-left p {
    transform: rotate(270deg);
    color: var(--txt, #301f1e);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.92px;
}

@media (max-width: 1024px) {
    .infor-left {
        display: none;
    }

    .infor-right {
        display: none;
    }

    .infor-cent {
        margin: 240px 0;
    }
}

ul.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 36px;
}

.stick-bottom {
    position: absolute;
    bottom: 0;
}

.infor-cent {
    align-items: center;
    margin: 70px 24px;

}

.infor-cent h3 {
    width: 80%;
}

.infor-cent ul {
    padding: 0;
    margin: auto;
}

.infor-cent li {
    margin: 0 0 30px;
    list-style: none;
    border-bottom: 1px solid #BBB;
    position: relative;
}

.line {
    height: 1px;
    width: 30%;
    background-color: var(--main-color);
}

.btn-dropdown {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid #BBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infor-right {
    width: 420px;
    height: auto;
    flex-shrink: 0;
    background: linear-gradient(270deg, rgba(27, 15, 12, 0.36) 0%, rgba(129, 72, 57, 0.00) 100%);
    backdrop-filter: blur(20px);
}

/********************
    MARK: B-Menu
********************/
.b-menu {
    background: linear-gradient(180deg, #503A38 0%, #2C100E 100%);
    color: #FFF;
}

.padding_24px {
    padding: 24px;
}

.b-menu h7 {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 25.6px */
    letter-spacing: 0.64px;
}

.line-cent {
    display: flex;
    justify-content: center;
    max-width: 372px;
}

.line-cent img {
    margin: 20px;
}

.img-cent {
    display: flex;
    justify-content: center;
}

.img-cent img {
    width: 327px;
    height: 218px;
    margin: 24px;
    outline: 1px solid #FFF;
    outline-offset: -4px;
}

.menu-1-img {
    display: flex;
    justify-content: center;
}

.title_inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.border-bottom {
    border-bottom: 1px solid #FFF;
    position: relative;
}

.stick-inline {
    position: absolute;
    bottom: -10px;
    right: 60px;
}

.menu-1-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.detail_2 ul {
    list-style: none;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 287px;
    padding: 18px 0px;
    gap: 8px;
    position: relative;
}

.btn a {
    color: #1B0F0C;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    /* 18px */
}

.btn svg {
    position: absolute;
    right: 20px;
}

.b-menu-footer {
    display: flex;

}

@media (min-width: 1024px) {
    .img-cent img {
        width: 1080px;
        height: 720px;
        margin: 80px 420px;
        outline: 1px solid #FFF;
        outline-offset: -12px;
    }

    .b-menu-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .menu-1-img {
        width: 421px;
        height: 543.389px;
    }

}

/********************
    MARK: W-Menu
********************/
.w-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/common/img/bg-02.jpg') lightgray -0.061px 0px / 100.019% 111.491% no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    z-index: -1;
}

.w-menu-content {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.line-after-img::after {
    content: '';
    background: #503A38;
    position: absolute;
    width: 100%;
    height: 64px;
    z-index: -1;
    bottom: 125px;
}